* {box-sizing:border-box}

#slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

#slideshow {
    max-width: 1000px;
    position: absolute;
    margin: auto;
  }
  .cursor {
    cursor: pointer;
  }
  /* .mySlides{
    width: 50%;
    height:50%;
  } */

  