* {box-sizing:border-box}
body{
  background-image:url("https://pixabay.com/get/57e2d1464253ab14f1dc8460da29317e1739dce1515271_640.jpg") 
}
#h1, #description, #form, #button {
  display: flex;
  justify-content: center;
  vertical-align: middle;
}
/* #slideshow {
    
    max-width: 1000px;
    position: absolute;
    margin: auto;
  }
  .cursor {
    cursor: pointer;
  }
  .mySlides{
    width: 50%;
    height:50%;
  }  */

  